Hello, my name is Calvin and this notebook will be my solution to Lab 1 for Data Mining (CS456).
The goal of this lab is to familiarize myself with Jupyter Notebook, and to practice the basics of Numpy and Pandas by creating, cleaning, and manipulating a dataset.

## Creating a dataset

In [91]:
import numpy as np
import pandas as pd
import random

#declares list for the data table
Student_ID_List = []
Score_List = []
Major_List = []
Grad_Year_List = []
Pass_Fail_List = []

#holds list of majors and years to randomly populate Major_List and Grade_Year_List
Majors = ['Computer Science', 'Mathmatics', 'Communications', 'History', 'Art', 'Biology', 'Astronomy', 'Business']
Years = [2025, 2026, 2027, 2028, 2029]

#for loops to randomly populate data 
for i in range (50):
    Student_ID_List.append(5000 + (i*10))

for i in range (50):
    Random_Float = random.random()
    Score_List.append(Random_Float)
    
for i in range (50):
    Major_List.append(random.choice(Majors))

for i in range (50):
    Grad_Year_List.append(random.choice(Years))

for i in range (50):
    if Score_List[i] < .70:
        Pass_Fail_List.append(False)
    else:
        Pass_Fail_List.append(True)
        
#creates the dictionary for the table        
Dictionary_Of_Data = {'Student ID': Student_ID_List, 'Score': Score_List, 'Student Major': Major_List, 'Graduation Year': Grad_Year_List, 'Passed': Pass_Fail_List}

#assignes the dataframe to manipulate the data
dframe = pd.DataFrame(Dictionary_Of_Data)
dframe

    Student ID     Score     Student Major  Graduation Year  Passed
0         5000  0.451950           Biology             2027   False
1         5010  0.405289          Business             2029   False
2         5020  0.119014               Art             2027   False
3         5030  0.820192               Art             2025    True
4         5040  0.516331        Mathmatics             2028   False
5         5050  0.394392           Biology             2028   False
6         5060  0.636984          Business             2026   False
7         5070  0.828050               Art             2028    True
8         5080  0.826023          Business             2025    True
9         5090  0.625334        Mathmatics             2029   False
10        5100  0.217642           History             2027   False
11        5110  0.264522        Mathmatics             2027   False
12        5120  0.167517  Computer Science             2027   False
13        5130  0.901768  Computer Science             2026    True
14        5140  0.457550    Communications             2025   False
15        5150  0.909026           Biology             2026    True
16        5160  0.155979          Business             2027   False
17        5170  0.272496    Communications             2026   False
18        5180  0.724925        Mathmatics             2028    True
19        5190  0.602060         Astronomy             2028   False
20        5200  0.551946           History             2027   False
21        5210  0.576942          Business             2028   False
22        5220  0.815441          Business             2027    True
23        5230  0.104113  Computer Science             2029   False
24        5240  0.796494  Computer Science             2027    True
25        5250  0.378084    Communications             2027   False
26        5260  0.779607          Business             2029    True
27        5270  0.395534         Astronomy             2025   False
28        5280  0.746562    Communications             2029    True
29        5290  0.136231           Biology             2028   False
30        5300  0.456819  Computer Science             2029   False
31        5310  0.993195               Art             2028    True
32        5320  0.403299  Computer Science             2029   False
33        5330  0.507502           Biology             2027   False
34        5340  0.130980  Computer Science             2025   False
35        5350  0.077237        Mathmatics             2029   False
36        5360  0.368353           History             2029   False
37        5370  0.931565    Communications             2025    True
38        5380  0.783617         Astronomy             2027    True
39        5390  0.812178           History             2028    True
40        5400  0.566963          Business             2025   False
41        5410  0.105266               Art             2025   False
42        5420  0.989430          Business             2026    True
43        5430  0.214218  Computer Science             2029   False
44        5440  0.906298           Biology             2025    True
45        5450  0.131486         Astronomy             2027   False
46        5460  0.141721        Mathmatics             2026   False
47        5470  0.837140               Art             2025    True
48        5480  0.023614        Mathmatics             2028   False
49        5490  0.808074    Communications             2027    True

## Data exploration with Pandas

In [92]:
#list the first 5 rows
dframe.iloc[0:5]

   Student ID     Score Student Major  Graduation Year  Passed
0        5000  0.451950       Biology             2027   False
1        5010  0.405289      Business             2029   False
2        5020  0.119014           Art             2027   False
3        5030  0.820192           Art             2025    True
4        5040  0.516331    Mathmatics             2028   False

In [93]:
#list the last 5 rows 
dframe.iloc[45::]

    Student ID     Score   Student Major  Graduation Year  Passed
45        5450  0.131486       Astronomy             2027   False
46        5460  0.141721      Mathmatics             2026   False
47        5470  0.837140             Art             2025    True
48        5480  0.023614      Mathmatics             2028   False
49        5490  0.808074  Communications             2027    True

In [94]:
#show column names
dframe.keys()

Index(['Student ID', 'Score', 'Student Major', 'Graduation Year', 'Passed'], dtype='object')

In [95]:
#show column types
print(dframe.dtypes)

Student ID           int64
Score              float64
Student Major       object
Graduation Year      int64
Passed                bool
dtype: object

In [96]:
#generate descriptive statistics for numeric columns
print(dframe.describe())

        Student ID      Score  Graduation Year
count    50.000000  50.000000        50.000000
mean   5245.000000   0.515339      2027.080000
std     145.773797   0.294900         1.397374
min    5000.000000   0.023614      2025.000000
25%    5122.500000   0.229362      2026.000000
50%    5245.000000   0.511917      2027.000000
75%    5367.500000   0.805179      2028.000000
max    5490.000000   0.993195      2029.000000

In [97]:
#find the number of unique values in a categorical column
Unique_Values = dframe.nunique()
print('Number of unique values across the whole dataset')
print(Unique_Values)

Number of unique values across the whole dataset
Student ID         50
Score              50
Student Major       8
Graduation Year     5
Passed              2
dtype: int64

In [103]:
print(dframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Student ID       50 non-null     int64
 1   Score            50 non-null     float64
 2   Student Major    50 non-null     object
 3   Graduation Year  50 non-null     int64
 4   Passed           50 non-null     bool
 5   Letter Grade     50 non-null     object
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 2.1+ KB
None

In [102]:
print(dframe.head())

   Student ID     Score Student Major  Graduation Year  Passed Letter Grade
0        5000  0.451950       Biology             2027   False            F
1        5010  0.405289      Business             2029   False            F
2        5020  0.119014           Art             2027   False            F
3        5030  0.820192           Art             2025    True            B
4        5040  0.516331    Mathmatics             2028   False            F

In [101]:
print(dframe.tail())

    Student ID     Score   Student Major  Graduation Year  Passed Letter Grade
45        5450  0.131486       Astronomy             2027   False            F
46        5460  0.141721      Mathmatics             2026   False            F
47        5470  0.837140             Art             2025    True            B
48        5480  0.023614      Mathmatics             2028   False            F
49        5490  0.808074  Communications             2027    True            B

## Column challenge

In [98]:
#add a new column that lists the letter grade from score
Letter_Grades = []

#populates the new column with the letter grade equivalent of score
for i in range (50):
    if Score_List[i] > .90:
        Letter_Grades.append('A')
    elif Score_List[i] > .80:
        Letter_Grades.append('B')
    elif Score_List[i] > .70:
        Letter_Grades.append('C')
    elif Score_List[i] > .60:
        Letter_Grades.append('D')
    else:
        Letter_Grades.append('F')
        
#adds the new Letter Grade column to the dataset        
dframe['Letter Grade'] = Letter_Grades
dframe

,Student ID,Score,Student Major,Graduation Year,Passed,Letter Grade
0,5000,0.451950,Biology,2027,False,F
1,5010,0.405289,Business,2029,False,F
2,5020,0.119014,Art,2027,False,F
3,5030,0.820192,Art,2025,True,B
4,5040,0.516331,Mathmatics,2028,False,F
5,5050,0.394392,Biology,2028,False,F
6,5060,0.636984,Business,2026,False,D
7,5070,0.828050,Art,2028,True,B
8,5080,0.826023,Business,2025,True,B
9,5090,0.625334,Mathmatics,2029,False,D
10,5100,0.217642,History,2027,False,F
11,5110,0.264522,Mathmatics,2027,False,F
12,5120,0.167517,Computer Science,2027,False,F
13,5130,0.901768,Computer Science,2026,True,A
14,5140,0.457550,Communications,2025,False,F
15,5150,0.909026,Biology,2026,True,A
16,5160,0.155979,Business,2027,False,F
17,5170,0.272496,Communications,2026,False,F
18,5180,0.724925,Mathmatics,2028,True,C
19,5190,0.602060,Astronomy,2028,False,D
20,5200,0.551946,History,2027,False,F
21,5210,0.576942,Business,2028,False,F
22,5220,0.815441,Business,2027,True,B
23,5230,0.104113,Computer Science,2029,False,F
24,5240,0.796494,Computer Science,2027,True,C
25,5250,0.378084,Communications,2027,False,F
26,5260,0.779607,Business,2029,True,C
27,5270,0.395534,Astronomy,2025,False,F
28,5280,0.746562,Communications,2029,True,C
29,5290,0.136231,Biology,2028,False,F
30,5300,0.456819,Computer Science,2029,False,F
31,5310,0.993195,Art,2028,True,A
32,5320,0.403299,Computer Science,2029,False,F
33,5330,0.507502,Biology,2027,False,F
34,5340,0.130980,Computer Science,2025,False,F
35,5350,0.077237,Mathmatics,2029,False,F
36,5360,0.368353,History,2029,False,F
37,5370,0.931565,Communications,2025,True,A
38,5380,0.783617,Astronomy,2027,True,C
39,5390,0.812178,History,2028,True,B
40,5400,0.566963,Business,2025,False,F
41,5410,0.105266,Art,2025,False,F
42,5420,0.989430,Business,2026,True,A
43,5430,0.214218,Computer Science,2029,False,F
44,5440,0.906298,Biology,2025,True,A
45,5450,0.131486,Astronomy,2027,False,F
46,5460,0.141721,Mathmatics,2026,False,F
47,5470,0.837140,Art,2025,True,B
48,5480,0.023614,Mathmatics,2028,False,F
49,5490,0.808074,Communications,2027,True,B

In [100]:
#saves the dataset to a CSV file
dframe.to_csv('Lab1_columns_Dataset.csv')
print('file save successful')

file save successful